//* scss-compile-options: --style expanded
@import "normalize";
@import "compass";
@import "mixins";
@import "layout";
@import "gradients";
@import "tables";
@import "flyoutmenu";
@import "carousel";
@import "ticker";
@import "stockticker";
@import "tabs";
@import "productbrowser";
@import "contacts";
@import "browseby";
@import "downloadsection";
@import "ps_productselector";
@import "abb.ask";
@import "abb.contactus";
@import "pagination";
@import "joboffershortlist";
@import "joboffersearch";
@import "joboffers";
@import "jobofferdetails";
@import "colorboxcustom";
@import "sitemap";
@import "socialimages";
@import "abb.navigation";
@import "abb.multimedia";
@import "../../../../../globalSpecifications";
@import "../../../../../colorSpecifications";

// GLOBAL

html {
  background-color: $grayscaleGray5;
  min-height: 100%;
}

body {
  font-size: $fontSizeA;
  line-height: $lineHeightD;
  letter-spacing: 0.025em;
  color: $abbGray;
  background-color: white;
  font-family: $fontA;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  min-width: 746px;
  /*position: relative;*/
  width: 100%;
  min-height: 100%;
}

body > form {
  /*position: relative;*/
  padding: 0 40px 0 37px;
  .lt-ie10 & {
    background-color: white;
  }
}

header, footer {
  //@include pageMargins;
}

.floating-header {
  width: 1026px;
  position: fixed;
  background-color: white;
  min-height: 54px;
  height: 90px;
  overflow: hidden;
  z-index: 300;
  .sWhite & {
    border-bottom: 1px solid $grayscaleGray5;
  }
}

.headerWrapperInner {
  position: relative;
  background-color: white;
  z-index: 2;
  clear: both;
  height: 90%;
  .flyOutButton {
    display: none;
  }
}

.footerWrapperInner {
  //bottom: 0;
  position: relative;
  font-size: 11px;
  background-color: white;
  z-index: 12;
  padding-top: 5px;
  clear: both;
  overflow: hidden;

  @include pageMargins;
  a {
    @include link-colors($abbGray, $abbGray, $abbGray, $abbGray, $abbGray);
  }
  .bottomSmallMenu {
    li {
      list-style-image: none;
      list-style-type: none;
      margin-left: 0;
      white-space: nowrap;
      display: inline;
      float: left;
      padding: 0;
      a, span {
        padding: 0 5px;
      }
    }
    li:after {
      content: " | ";
    }
    li:last-child:after {
      content: "";
    }
  }
}

.floating-footer {
  height: 29px;
  bottom: 0;
  position: fixed;
  z-index: 1000;
  width: 1026px;
  background-color: white;
  .sWhite & {
    border-top: 1px solid $grayscaleGray5;
  }
}

.withFixedFooter .floating-footer {
  bottom: 0;
  position: static;
}

.withFixedFooter .loPublicWrapper {
  padding: 90px 0 0;
}

// Contain floats: h5bp.com/q
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.careers {
  clear: both;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, .header1, .header2, .header3 {
  font-family: $fontA;
}

h1, .header1 {
  font-size: $fontSizeB;
  line-height: $lineHeightC;
}

h2, .header2 {
  font-size: $fontSizeB1;
  line-height: $lineHeightC;
}

h3, .header3 {
  font-size: $fontSizeC;
  line-height: $lineHeightB;
}

.sfContentBlock {
  color: $grayscaleGray2;
  margin-top: 5px;
  margin-bottom: 24px;
  p {
    color: $abbGray;
    margin: 14px 0 0;
  }
  h1 {
    line-height: $lineHeightA;
  }
  h3 {
    margin: $marginC;
  }
  a {
    text-decoration: underline;
  }
  ul {
    color: $abbGray;
    margin: $marginC;
    list-style: square outside;
    padding-left: 20px;
  }
  ol {
    color: $abbGray;
    margin: $marginC;
    list-style: decimal outside;
    padding-left: 20px;
  }
}

.fatFooter {
  h4, .header4 {
    font-size: $fontSizeF;
    margin-bottom: 15px;
    padding: 0 0 10px 0;
  }
  .inner {
    border: none;
    margin: 0;
  }
  .tile .gradientGrayscale {
    background: none repeat scroll 0 0;
    filter: none;
  }
}

select {
  color: $grayscaleGray2;
  border: 1px solid;
  padding: 3px;
}

.label {
  font-size: 12px;
  text-transform: uppercase;
}

div.hr {
  height: 1px;
  margin: 19px 5px 19px 0;
  hr {
    display: none;
  }
}

.asLink {
  cursor: pointer;
}

a i, .asLink i {
  display: inline-block;

}

.lt-ie8 {
  a i, .asLink i {
    display: inline;
    zoom: 1;
    vertical-align: middle;
  }
}

span.asLink > i, a i, .asLink i.arrowLink {
  width: 11px;
  height: 9px;
  margin-right: 5px;
}

a i.arrowLinkBig, .asLink .arrowLinkBig {
  width: 24px;
  height: 21px;
  margin-right: 10px;
}

.clickable {
  cursor: pointer;
}

.clear {
  clear: both;
}

.lt-ie10 .slider {
  .nivo-main-image {
    cursor: pointer;
  }
  .nivo-slice {
    img {
      cursor: pointer;
    }
  }
}

.slider {
  position: relative;
  .hidden {
    display: none;
  }
  .nivo-caption {
    position: relative;
    padding: 0;
    .caption {
      height: 100%;
    }
  }
  .nivo-controlNav {
    bottom: 20px;
    position: absolute;
    right: 18px;
    padding: 0;
    z-index: 10;
    a {
      display: inline-block;
      height: 8px;
      padding: 6px;
      /*text-indent: -9999px;*/
      width: 8px;
      .lte-ie8 & {
        float: left
      }
    }
  }
  .captions {
    visibility: hidden;
    position: absolute;
  }
  .slides, .caption {
    img {
      vertical-align: top;
    }
    .textContainer {
      padding: 10px 10px 10px 17px;
      h2 {
        line-height: 40px;
      }
      a, .asLink {
        font-size: 32px;
        font-weight: normal;
        font-family: $fontA;
        line-height: 40px;
      }
    }
  }
}

.linkRight {
  position: absolute;
  right: 0;
  top: 0
}

.touch {

  .abbPagContainer {
    a:not(.abbPagCurrent) {

      &:hover {
        color: black !important;
        background-color: transparent !important;
      }
    }
  }
  .expandable .slideDown:not(.selected) .menuPlus {
    display: inline-block;
  }
}

:not(.lt-ie9) .abbCheckbox {
  width: 16px;
  margin: 0px 7px 0px 0px;
  position: relative;

  label {
    cursor: pointer;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    background: #f0f0f0;
    border: 1px solid #b7b7b7;

    &:after {
      opacity: 0.0;
      content: '';
      position: absolute;
      width: 7px;
      height: 4px;
      background: transparent;
      top: 4px;
      left: 4px;
      border: 2px solid #868686;
      border-top: none;
      border-right: none;

      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }

    &:hover::after {
      opacity: 0.2;
    }
  }

  input[type=checkbox]:checked + label:after {
    opacity: 1;
  }
}

.no-touch {
  .abbDsContainer {
    .dsDocumentKind:not(.dsInpath) {
      &:hover {
        color: white !important;
        background-color: #6E6E6E;
        .dsIcon {
          display: block !important;
          background-position: -63px -298px !important;
        }
      }
      &.dsInpath {
        &:hover {
          color: #636363 !important;
        }
      }
    }
  }

  .productsAndServices .nav:hover .menuPlus {
    display: none;
  }
}

.productsAndServices, .expandable {
  .nav {
    min-height: 75px;
    h3 {
      min-height: 50px;
      margin-bottom: 10px;
      padding-right: 22px;
    }
    &.selected .menuPlus {
      display: none;
    }
  }
  .slideDownMenu {
    border: 1px solid $grayscaleGray2;
    display: none;
    margin: 4px 4px 7px 0;
    .toggle {
      padding: $paddingA;
      cursor: auto;
      border-top: 1px solid $grayscaleGray2;
      text-align: right;
      min-height: 24px;
      span {
        cursor: pointer;
        padding-right: 5px;
      }
      .overview {
        padding-left: 5px;
        float: left;
      }
      .linkSectionNav {
        text-align: left;
      }
    }
  }
}

.productsAndServices {
  .slideDown {
    &:hover {
      border-color: $grayscaleGray2;
      color: $grayscaleGray2;
      h3, .menuPlus {
        color: $grayscaleGray2;
      }
    }
    &.selected {
      h3, .menuPlus {
        color: $grayscaleGray2;
      }
    }
  }
  .slideDownMenu {
    background-color: $grayscaleGray1;
    .slideDownTable {
      width: 100%;
      td {
        width: 50%;
        a {
          color: $grayscaleGray5;
          cursor: pointer;
          display: block;
          padding: 4px 4px 4px 8px;
          &:hover {
            color: $grayscaleGray1;
            background-color: $grayscaleGray5;
          }
        }
      }
    }
    &.contact {
      .inner {
        border-top: 0;
        border-right: 0;
        border-bottom: 0;
        margin-bottom: 5px;
        padding-left: 5px;
      }
      .lo_3cols_1_33 {
        .inner {
          border-left: none;
        }
      }
    }
    &.cloned {
      &.contact .lo_cols.t {
        & > div {
          border-bottom: 1px solid $grayscaleGray2;
        }
        & :last-child {
          border-bottom: 0px;
        }
      }
      .slideDownTable {
        border-collapse: collapse;
        td {
          width: 100%;
          padding-top: .5em;
          padding-bottom: .5em;
        }
      }
    }
  }
}

.serviceSection {
  color: $grayscaleGray5;
  padding: 8px;
  h3 {
    padding-bottom: 4px;
  }
  h4 {
    padding-top: 8px;
    font-weight: bold;
  }
  &.select {
    h3 {
      padding-bottom: 16px;
    }
    button {
      float: right;
      margin-top: 16px;
      margin-bottom: 16px;
    }
    .styled-select {
      width: 100%;
      background-color: $grayscaleGray5;
    }

    .styled-select select {
      width: 100%;
      background-color: transparent;
      font-size: 16px;
      line-height: 1;
      border: 0;
      border-radius: 0;
      -webkit-appearance: none;
      cursor: pointer;
      padding: 1px;
    }

    .no-link {
      cursor: auto;
    }
  }
}

.expandable {
  .nav {
    .selected .menuPlus {
      display: none;
    }
    .selected .menuMinus {
      bottom: 17px;
      display: inline-block;
    }
  }
  .slideDown {
    &.selected {
      margin-bottom: -5px;
      padding-bottom: 18px;
      border-bottom: none;
    }
    &:hover .menuPlus {
      color: #FFF;
    }
  }
  .slideDownMenu {
    z-index: 100;
    margin-left: -11px;
    .sfContentBlock {
      padding-left: 10px;
      a {
        text-decoration: none;
      }
    }
    .layout12:first-child {
      padding-left: 11px;
      padding-right: 6px;
    }

    .toggle {
      position: relative;
      padding-left: 11px;
      .asLink.goRight {
        position: absolute;
        right: 4px;
        bottom: 7px;
      }
      .sfContentBlock {
        margin-bottom: 0px;
        margin-top: 0px;
        text-align: left;
      }
    }
  }
  .schemeBlack & {
    .slideDownMenu {
      background: none repeat scroll 0 0 $grayscaleGray1;
      filter: none;
    }
  }
  .slideDownTable {
    width: 100%;
    td {
      a {
        cursor: pointer;
        display: block;
        padding: 4px 4px 4px 8px;
      }
    }
  }
  .cloned .slideDownTable {
    border-collapse: collapse;
    td {
      width: 100%;
      padding-top: .5em;
      padding-bottom: .5em;
    }
  }
}

.sfPageEditor .sfPageContainer .expandable .toggle .zeDockZoneEmpty,
.sfPageEditor .sfPageContainer .expandable .toggle .zeControlDock {
  width: 80% !important;
}

.contentSectionNavigation {
  padding-right: 4px;
  .slideDownTable {
    width: 100%;
    td {
      a {
        cursor: pointer;
        display: block;
        padding: 4px 4px 4px 8px;
      }
    }
  }
}

.lt-ie8 {
  .productsAndServices {
    margin-left: 5px;
    .navWrapper {
      .menuPlus {
        *display: inline;
        zoom: 1;
      }
    }
  }
}

.linkRightStatic {
  float: right;
  padding-right: 4px;
  position: relative;
  top: -23px;
}

.colorBgWrapper {
  background-color: #000;
}

.colorBgWrapperInner {
  padding: 10px 6px 10px 10px;
  .layout12 .headerImage {
    margin-right: 4px;
  }
}

.inner,
.innerNoHO {
  border: 1px solid $grayscaleGray2;
  margin: 4px 4px 5px 0;
  position: relative;

  p {
    color: $grayscaleGray5;
  }

  &.bordOff {
    border: 0;
  }

  &:hover {
    cursor: pointer;
  }

  &.autoCursor:hover {
    cursor: auto;
  }
}

.tile {
  a {
    display: block;
  }
}

.socialMediaTile {
  .tweetDate {
    background: url("/cdn/img/newsmedia-twitter.png") no-repeat;
    padding-left: 30px;
    padding-bottom: 5px;
  }
  .textContainer {
    a {
      display: inline-block;
    }
  }
}

.videoContainer {
  position: relative;

  img.play {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -33px;
    margin-top: -33px;
  }
}

.tabLayout .gradientLayout .linkSectionNav {
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 4px;
}

.productImage {
  span.initialization {
    display: block;
    margin: 100px auto;
    text-align: center;
    font-size: 20px;
    strong {
      margin-top: 10px;
      text-align: center;
    }
  }
}

.linkSectionNav {
  padding: 16px 12px 16px 12px;

  .expandable .toggle .layoutNavigation & {
    padding: 0 0 0 8px;
    .asLink a {
      display: inline-block;
    }
  }

  span.asLink > i {
    margin-right: 8px;
  }

  tr {
    td {
      padding-right: 30px;
      padding-bottom: 4px;
    }
  }

  &.invisibleClon {
    display: none;
  }

  .inner & {

    &.goDown {
      position: absolute;
      bottom: 0;
    }
    &.invisibleClon {
      opacity: 0;
      filter: alpha(opacity=0); // For IE8 and earlier
      display: block;
    }
  }
}

.topSmallMenu {
  font-size: $fontSizeD;
  position: absolute;
  bottom: 3px;
  left: 0;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;

  li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    white-space: nowrap;
    display: inline;
    float: left;
    padding-left: 4px;
    padding-right: 0;

    a {
      @include link-colors($abbGray, $abbGray, $abbGray, $abbGray, $abbGray);
      padding: 0 5px 0 5px;
    }
  }

  li:after {
    content: " | ";
  }

  li:last-child:after {
    content: "";
  }
}

.imageContainer {
  overflow: hidden;
}

.textContainer {
  padding: 10px 0 18px 0;
}

.textContainer.headline {
  padding: 8px 8px 8px 0;
}

.textContainerFlush {
  padding: 13px 0;
}

.navTextContainer {
  padding: 2px 8px 8px 8px;
  height: 100%;
  cursor: pointer;
}

.stretch {
  width: 100%;
}

img.stretch {
  display: block;
}

.innerPlain {
  padding: 0;
}

.last {
  .inner {
    margin-right: 0;
  }
}

.transparent {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.8);
}

.no-rgba .transparent {
  background: transparent url("/cdn/img/legacyBgOpacity.png") repeat 0 0;
  width: 100%;
  padding: 0px;
}

.lt-ie9 {
  .slider {
    line-height: normal;
  }
  .transparent {
    background-color: black;
    width: 100%;
    padding: 0px;
  }
}

.breadcrumb {
  bottom: 6px;
  position: absolute;
  height: 18px;
  overflow: hidden;
  width: 77%;

  .sfNoBreadcrumbNavigation {
    a.rsmLink {
      cursor: default;
      &:hover, &:active {
        color: $abbGray;
        text-decoration: none;
      }
      &:focus {
        outline: 0;
      }
    }
  }

  a.rsmLink {
    color: $abbGray;
    line-height: 20px;

    text: {
      transform: uppercase;
      decoration: none;
    }

    font: {
      family: Arial;
      size: 11px;
    }

    &:hover, &:active {
      color: $grayscaleGray2;
      text-decoration: none;
    }
  }

  .RadSiteMap .rsmOneLevel .rsmItem .rsmLink {
    padding-left: 0px;
  }

  .breadcrumbNodeSeparator {
    background-image: url("/cdn/img/bread_arrow.png");
    background-repeat: no-repeat;
    background-position: center;
    min-width: 6px;
    display: inline-block;
  }
}

.lt-ie8 .breadcrumb .breadcrumbNodeSeparator {
  background-position: center 40%;
}

.lt-ie8 .breadcrumb .RadSiteMap .rsmFlow .rsmItem {
  zoom: normal;
}

#logo {
  background-image: url("/cdn/img/logo.png");
  background-repeat: no-repeat;
  position: absolute;
  right: 3px;
  bottom: 7px;
  float: right;
  height: 31px;
  width: 200px;

  a {
    float: left;
    height: 100%;
    text-decoration: none;
    width: 100%;
  }
}

// TABBED INTERFACE
.tabbedInterface {
  border-bottom: 1px solid $grayscaleGray3;
  height: 31px;
  position: relative;
  margin: $marginB;

  .tab {
    float: left;
    height: 43px;

    a {
      display: block;
      height: 31px;
      padding: 0 12px;
      border-right: 1px solid $grayscaleGray3;
    }

    .last {
      border-right: none;
    }
  }

  .selectedTab {
    background: url("/cdn/img/tabbedArrow.png") no-repeat scroll center 31px;
  }
}

//COMMON NAVIGATION LAYOUT
.commonNavigation {
  .inner {
    min-height: 74px;
  }

  .tabLayout & .inner {
    overflow: hidden;
  }

  h3 {
    font-size: 17px;
  }
}

// NEWS TAB Layout
.tabLayout {
  .navWrapper:first-child {

    border-bottom: 1px solid $grayscaleGray3;
  }
  .navWrapper {
    margin: 0 4px 7px 0;
    width: auto;
    .tabLine {
      .lo_colsIn {
        margin-left: 0;
      }
      height: 40px;
      .multiTab {
        .textContainer.headline {
          padding: 10px 0 18px 0;
          h1, h2, h3, .header1, .header2, .header3 {
            padding: 0 22px 0 12px;
            border-left: 1px solid $grayscaleGray3;
          }
        }
      }
      .selectedTab {
        background: url("/cdn/img/tabbedArrow.png") no-repeat scroll center 40px;
      }
    }
    .tabLine:first-child {
      .textContainer.headline {
        h1, h2, h3, .header1, .header2, .header3 {
          border-left: none;
        }
      }
    }
  }
  .gradientLayout {
    padding: 12px 8px 0 12px;
  }
}

// LEFT MENU
.leftMenu {
  position: relative;
  left: -38px;
  width: 35px;
  float: left;
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    height: 49px;

    a {
      display: inline-block;
      height: 0;
      overflow: hidden;
      padding-top: 49px;
      text-decoration: none;
      width: 35px;
    }
  }
}

// BOTTOM MENU
.bottomMenu {
  font-size: 14px;
  padding-left: 10px;
  padding-right: 8px;

  li {
    margin-bottom: 9px;

    a {
      .rssIcon {
        margin-right: 6px;
        float: left;
        margin-top: 4px;
      }
    }
  }
}

// COUNTERS
.counters {
  clear: both;
  margin: 7px 0;
  cursor: pointer;

  .counterWrapper {
    font-family: $fontA;
    color: #fff;
    float: left;
    font-size: $fontSizeC;
    padding: 0;

    .counter {
      color: #FFFFFF;
      float: left;
      font-size: 36px;
      height: 25px;
      padding: 14px 2px 8px;
    }

    .counterText {
      float: left;
      padding: 14px 34px 14px 14px;
    }
  }
}

// STOCK QUOTE
.quoteNumber {
  font-size: 55px;
  display: block;
  margin: 20px 0;
}

// NEWS TILES
.newsTiles {
  //max-height:246px;
  clear: both;
  p {
    font-size: 11px;
  }
  .stretch {
    max-height: 100%;
  }

  .aligntobottom {
    left: 0px;
    position: absolute;
    bottom: 0px;
    height: auto;
    width: 100%;
  }

  .textContainer {
    padding: 8px;
  }
}

.tile {
  .textContainer {
    padding: 8px;
  }

  .textContainer.headline {
    padding-left: 0px;
  }
}

//CONTENT TILE
.contentTile .date {
  font-size: $fontSizeD;
}

.layout2 .tile .inner h3, .layout2 .tile .inner .header3 {
  font-size: $fontSizeA;
  line-height: $lineHeightD;
}

.productTile {
  cursor: pointer;
  .date {
    font-size: $fontSizeD;
  }
  ul {
    color: $abbGray;
    margin: $marginC;
    list-style: square inside;
  }
  ol {
    color: $abbGray;
    margin: $marginC;
    list-style: decimal inside;
  }
}

//2x2 TILE
.tile2x2 {
  .date {
    font-size: $fontSizeD;
    color: $grayscaleGray4;
  }
}

//RSS FEED TILE
.asLink.moveLink {
  bottom: 6px;
  left: 10px;
  position: absolute;
  z-index: 10;
  overflow: hidden;
  height: 20px;
}

.rssFeedTile {
  position: relative;
  .placeForLink {
    padding-bottom: 20px;
  }
  .textContainer {
    padding: 14px;
    .newsTitle {
      color: $abbGray;
    }
  }
  a.inner.clickable:hover .textContainer .newsTitle,
  a.asLink:hover {
    color: $grayscaleGray2;
  }
  .inner:hover {
    .textContainer .newsTitle {
      color: $grayscaleGray6;
    }
  }
}

.schemeWhite .rssTile2x2 .textContainer .date {
  font-size: 12px;
  color: $grayscaleGray4;
}

.rssFeedNewsList {
  padding: 0px 12px 16px 12px;

  .textContainer {
    padding-top: 16px;
    padding-bottom: 0px;
    border-top: 1px solid $grayscaleGray2;

    .newsDate {
      font-size: 12px;
      color: $grayscaleGray8;
      p {
        padding-right: 8px;
        padding-bottom: 8px;
        color: $grayscaleGray4;
      }
    }

    .asLink {
      &.down {
        padding-top: 16px;
        display: block;
        &:hover {
          color: $grayscaleGray2;
        }
      }

      &.newsTitle {
        color: $abbGray;
        padding-bottom: 8px;
        &:hover {
          color: $grayscaleGray2;
        }
      }
    }

    h3 {
      padding-bottom: 15px;
    }
  }

  .newsDate {
    float: left;
    width: 20%;
  }

  .newsTitle {
    float: left;
    width: 80%;
  }
}

.sf_colsIn .rssFeedNewsList:first-child {
  padding: 16px 12px 16px 12px;
  border-bottom-style: bold;
  .textContainer {
    border-top: none;
    padding-top: 0px;
  }
}

// CUSTOMER EVENTS WIDGET
.customerEvents {
  .textLi {
    margin-bottom: 3px;
  }

  .eventFilters {
    width: 100%;
  }

  li {
    margin-bottom: 15px;
  }

  select {
    background: $white;
    background-color: $white;
    width: 70%;
  }

  input {
    width: 25%;
    height: 25px;
  }
}

// HEADLINES
.tile-headline {
  width: 100%;
}

.lo_3cols_1_33 .lo_2cols_1_50 .tile-headline,
.lo_3cols_2_34 .lo_2cols_1_50 .tile-headline {
  width: 400%;
}

.lo_6cols_1_16 .tile-headline,
.lo_4cols_1_25 .tile-headline,
.lo_4cols_3_25 .tile-headline,
.lo_2cols_1_50 .tile-headline {
  width: 200%;
}

.lo_3cols_2_34 .lo_2cols_2_50 .tile-headline {
  width: 300%;
}

.lo_6cols_3_16 .tile-headline {
  width: 200%;
}

.lo_6cols_5_16 .tile-headline {
  width: 200%;
}

.lo_3cols_1_33 .tile-headline {
  width: 100%;
}

// FACEBOOK
.facebook p {
  margin-bottom: 10px;
}

// PRODUCT IMPORT
.productimport {
  margin-top: 50px;
  margin-left: 50px;
}

// ABB TABLE
@include abbTable;
// FLYOUT
@include flyout;

// LAYOUT WIDGET OVERRIDES
.layout8 {
  div.hr, .sfContentBlock {
    margin-right: 24px;
  }
}

// COLORBOX
#colorbox, #cboxOverlay, #cboxWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden;
}

#cboxOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
}

#cboxMiddleLeft, #cboxBottomLeft {
  clear: left;
}

#cboxContent {
  position: relative;
}

#cboxLoadedContent {
  overflow: auto;
}

.cboxIframe {
  width: 100%;
  height: 100%;
  display: block;
}

#colorbox, #cboxContent, #cboxLoadedContent {
  box-sizing: content-box;
}

#cboxOverlay {
  background: #000;
}

#cboxTopLeft {
  width: 14px;
  height: 14px;
}

#cboxTopCenter {
  height: 14px;
}

#cboxTopRight {
  width: 14px;
  height: 14px;
}

#cboxBottomLeft {
  width: 14px;
  height: 43px;
}

#cboxBottomCenter {
  height: 43px;
}

#cboxBottomRight {
  width: 14px;
  height: 43px;
}

#cboxMiddleLeft {
  width: 0;
}

#cboxMiddleRight {
  width: 0;
}

#cboxContent {
  overflow: visible;
}

#cboxLoadedContent {
  margin-bottom: 5px;
  top: 10px;
  position: relative;
}

#cboxClose {
  background: url("/cdn/img/schemeWhiteSpriteMap.png") no-repeat scroll -359px -1002px;
  cursor: pointer;
  position: absolute;
  height: 28px;
  right: 0;
  top: -18px;
  color: #fff;
  font-weight: bold;
  text-align: right;
  width: 42px;
}

.contactBox {
  .mapContainer {
    display: block;
    width: 100%;
    height: 284px;
    border: 1px solid #B2B2B2;
  }
  .contactNav {
    display: block;
    h3 {
      font-size: 14px;
      padding-bottom: 10px;
    }
    .navTextContainer {
      padding-bottom: 20px;
      height: auto;
    }
    .titleDesc {
      font-size: 11px;
      position: absolute;
      bottom: 5px;
      margin-right: 20px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      width: 65%;
    }
    &.selected .menuPlus {
      display: none;
    }
    &.selected .menuMinus {
      display: inline-block;
    }
  }
  .toggle {
    padding: 4px;
    cursor: auto;
    border-top: 1px solid $grayscaleGray2;
    text-align: right;
    span {
      cursor: pointer;
      padding-right: 5px;
    }
  }

  .slideDownMenu {
    display: none;
    margin: 0px -7px 7px -11px;
    h2 {
      padding-top: 10px;
      padding-bottom: 15px;
      padding-left: 15px;
    }
    select {
      width: 75%;
    }
    .contactDetails {
      font-size: 14px;
      padding-top: 3px;
      padding-left: 15px;
      .lo_2cols_1_67 {
        padding-bottom: 15px;
      }
    }
    .lo_cols {
      position: relative;
    }
    .lo_6cols_1_16 {
      position: absolute;
      bottom: 0px;
      right: 0px;
    }
  }
}

.navigationTile {
  .navigationTileNav {
    display: block;
    h3 {
      padding-bottom: 10px;
    }
    .navTextContainer {
      padding-bottom: 20px;
    }
    &.selected .menuPlus {
      display: none;
    }
    &.selected .menuMinus {
      display: inline-block;
    }
  }
  .toggle {
    padding: 4px;
    cursor: auto;
    border-top: 1px solid $grayscaleGray2;
    text-align: right;
    margin-left: -16px;
    span {
      cursor: pointer;
      padding-right: 5px;
    }
  }

  .slideDownMenu {
    display: none;
    margin: 0px -7px 7px -11px;
    padding-left: 16px;
    .lo_cols {
      position: relative;
    }
    .lo_6cols_1_16 {
      position: absolute;
      bottom: 0px;
      right: 0px;
    }
    .slideDownTable {
      width: 100%;
      tbody tr td {
        width: 50%;
      }
    }
  }
  .productNavWrapper {
    overflow: hidden;
  }
}

.lt-ie8 {
  .contactBox .slideDownMenu, .navigationTile .slideDownMenu {
    margin-left: -10px;
    width: 100%;
  }
}

.productsAndServices, .expandable, .contactBox .contactNav, .navigationTile .navigationTileNav, .abbCuContactBox .cuContactNav {
  .menuPlus, .menuMinus {
    @include commonPlusMinusStyles;
    display: inline-block;
  }
}

.tabs .appearanceNormal, .newsTiles, .tabLayout {
  .menuPlus, .menuMinus {
    @include commonPlusMinusStyles;
    display: none;
  }
}

.tabLayout {
  .inner {
    overflow: auto;
  }
}

.expandable, .contactBox .contactNav, .navigationTile .navigationTileNav, .abbCuContactBox .cuContactNav {
  .menuMinus {
    @include commonPlusMinusStyles;
    display: none;
    font-weight: bold;
  }
}

/*end of menuPlus & menuMinus styles*/

.toggleLayout {
  min-height: 50px;

  p, span, .sfContentBlock {
    color: $abbGray;
  }

  &.hr {
    min-height: 1px;
    margin: 0;

    & + .toggleLayout.hr {
      display: none;
    }
  }

  .lo_cols.t {
    padding: 5px;

    &.expanding {
      display: none;
      opacity: 0;
      filter: alpha(opacity=0);

      .layout12 {
        padding-left: 30px;
        padding-right: 10px;
      }
    }
    &.clickable.investorCalendar + .expanding .layout12 {
      padding-left: 130px;
    }
  }

  .clickable {
    .menuPlus, .menuMinus {
      font-size: 25px;
      float: left;
      width: 20px;
      margin-right: 10px;
      min-height: 30px;
      padding-top: 8px;
      position: relative;
    }
    .menuPlus {
      display: inline-block;
    }
    .menuMinus {
      display: none;
    }
  }
}

.eventCalendarHeader {
  div {
    display: inline-block;
    padding-top: 3px;
    &:first-child {
      width: 95px;
      float: left;
    }
    &.headline {
      width: 360px;
      margin-right: 20px;
      padding-top: 0;
      float: left;
    }
    &.thirdCol {
      margin-right: 20px;
      width: 140px;
    }
  }
  .mobileOnly, .dot {
    display: none;
  }
}

.cawpLegacyPage {
  display: none;
}

.sfimageWrp.mediaContacts img {
  width: 80%;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 16px;
}

.gradientLayout {
  .tile {
    .gradientGrayscale1112, .gradientGrayscale112, .gradientGrayscale {
      &.inner {
        background: none;
        filter: none;
        border: none;
      }
    }
  }
}

.lo_2cols_1_67 .gradientLayout, .lo_2cols_2_33 .gradientLayout {
  //padding: 13px;
}

.loader {
  display: inline-block;
}

.loaderWide {
  background: transparent url('/cdn/img/loader_wide.gif') no-repeat;
  width: 125px;
  height: 23px;
}

.loaderMin {
  background: transparent url('/cdn/img/loader_min.gif') no-repeat;
  width: 50px;
  height: 8px;
}

.loaderDrop {
  background: transparent url('/cdn/img/loader_drop.gif') no-repeat;
}

.abbLoaderWide {
  background: transparent url('/cdn/img/loader_wide.gif') no-repeat;
}

.abbLoaderMin {
  background: transparent url('/cdn/img/loader_min.gif') no-repeat;
}

.abbLoaderDrop {
  background: transparent url('/cdn/img/loader_drop.gif') no-repeat;
}

.jumpToContactUs {
  border-color: gainsboro;
  border-style: solid;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 0px;
  border-right-width: 0px;
  .header {
    margin-top: 15px;
  }
}

.hideOnFrontend {
  display: none;
}

.sfPageEditor .hideOnFrontend {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  display: block !important;
  .sfAddContentLnk {
    background: none;
  }
}

.sfPageEditor {
  max-width: 100%;
}

.currency {
  display: inline-block;
  font-size: $fontSizeA;
  line-height: 0.8;
  padding-left: 4px;
}

.layout2 {
  .contentTile, .rssFeedTile, .multimediaTile {
    .inner {
      min-height: 70px
    }
  }
}

.layout3 {
  .contentTile, .rssFeedTile, .multimediaTile {
    .inner {
      min-height: 148px
    }
  }
}

.layout4 {
  .contentTile, .rssFeedTile, .multimediaTile {
    .inner {
      min-height: 152px
    }
  }
}

[placeholderid="orphanedElements"] {
  display: none;
}

.sfPageEditor {
  max-width: 100%;
  [placeholderid="orphanedElements"] {
    display: block;
  }
  .floating-header {
    width: auto !important;
    height: auto !important;
    position: static;
    overflow: auto;
  }
  .floating-footer {
    width: auto !important;
  }
  #PublicWrapper {
    padding-top: 0;
  }
  & > form {
    padding: 0;
  }
  [placeholderid="orphanedElements"] {
    margin: 12px 0;
  }
  .backendWrapper {
    width: 947px;
    padding: 0 40px 0 37px;
    margin: 0 auto;
    background: #fff;
  }
  .sfPageContainer {
    background: #D2D2D2;
  }
  #flyout-menu {
    top: auto !important;
  }
  .sfimageWrp img {
    max-width: 100%;
  }
  #message {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 230px;
    font-size: .9em;
    margin: .5em;
    padding: .5em 1em;
    background: #fef3c6;
    border: 2px solid #feda4a;
    color: #333;
    z-index: 10001;
    .close-button {
      position: absolute;
      right: .3em;
      top: .3em;
      font-size: 1.3em;
    }
    .message-wrapper {
      border-width: 1px 0;
      border-color: #999;
      border-style: dashed;
      margin: 0.5em 0;
      padding: 0.3em 0;
      cursor: move;
    }
    .title {
      display: block;
      text-transform: uppercase;
      font-weight: bold;
      color: #333;
      outline: none;
    }
    .remove-message {
      display: block;
      font-weight: bold;
      color: #333;
    }
    strong {
      font-size: 1.15em;
    }
    ul {
      list-style-type: square;
      margin: .3em 0 .3em 1.8em;
    }
  }
  .imageGalleryContainer .mask {
    height: auto !important;
  }
  .imageGalleryContainer img.stretch {
    display: block;
  }
}

//Job offer box

.joBox {
  padding: 8px 8px 20px 8px;

  .date, .adress {
    color: $grayscaleGray4;
    font-family: Arial;
    font-size: 12px;
  }
  .joLink {
    margin: 10px 0px;
    a {
      font-family: Arial;
      font-size: 12px;
      line-height: 15px;
    }
  }
}

.lt-ie8 .carrouselLayout a {
  // ie7 only hack to make entire link clickable - delete after we drop support for ie7
  display: block;
  background: #eee;
  overflow: hidden;
  cursor: pointer;
}

.alertMsg {
  background-color: #ffdede;
  border: 1px solid #ff8a8a;
  color: #ff4949;
  padding: 4px 8px;
  margin-bottom: 15px;
}

.abbHidden {
  display: none;
}